<!-- my_app/templates/my_app/ad_list.html -->
{% extends 'ads/base.html' %}

{% block title %}Список объявлений{% endblock %}

{% block content %}
<h2>Все объявления</h2>

<div class="row">
    {% for ad in ads %}
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="{{ ad.image_url }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ ad.title }}</h5>
                    <p class="card-text">{{ ad.description|truncatewords:20 }}</p>
                    <a href="{% url 'ad_detail' ad.id %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
