<!-- my_app/templates/my_app/ad_list.html -->
{% extends 'ads/../base.html' %}

{% load static %}  <!-- Добавь эту строку для загрузки тега static -->

{% block title %}Список объявлений{% endblock %}

{% block content %}
<h2>Список объявлений</h2>

<div class="row">
    {% for ad in ads %}
        <div class="col-md-4">
            <div class="card">
                <!-- Проверка на наличие изображения -->
                {% if ad.image %}
                    <img class="card-img-top" src="{{ ad.image.url }}" alt="Image for {{ ad.title }}">
                {% else %}
                    <img class="card-img-top" src="{% static 'default_image.jpg' %}" alt="Default image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ ad.title }}</h5>
                    <p class="card-text">{{ ad.description|truncatewords:20 }}</p>
                    <!-- Ссылка на страницу с детальным описанием объявления -->
                    <a href="{% url 'ad_detail' ad.id %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
